

.error-image {
  height: 85vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.error-image img {
  height: 100%;
  width: 100%;
  filter: contrast(150%);
}

.error-image p{
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
}