.checkout {
  position: -webkit-sticky;
  position: sticky;
  top: 3%;
  height: 80vh;
  width: 30%;
  margin: 1.5rem 0.5rem;
  color: white;
  border-radius: 0.2rem;
  background-color: #17706e;
  /* background-color: rgb(48, 48, 48); */
  /* border: 1px solid black; */
}

.checkout-container {
  height: 50%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1rem;
  /* border: 1px solid black; */
}

.checkout-container button {
  padding: 0.6rem;
  border: none;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "poppins";
  color: rgb(255, 255, 255);
  background-color: rgb(72, 252, 72);
  background-color: rgb(15, 236, 115);
  /* border: 1px solid rgb(255, 255, 255); */
}

.checkout-container button:hover {
  background-color: rgb(2, 230, 105);
}

.checkout-container button:last-child {
  background-color: rgb(255, 255, 255);
  color: black;
  /* border: 1px solid lightcoral; */
}

@media (max-width: 1100px) {
  .checkout {
    position: relative;
    height: 40vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkout-container {
    align-items: center;
  }

  .checkout-container button {
    width: 22rem;
    margin: 1rem;
  }
}

@media (max-width: 500px) {
  .checkout-container button {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .checkout-container button {
    width: 18rem;
  }
}

@media (max-width: 412px) {
  .checkout-container button {
    width: 15rem;
  }
}
